fastapi==0.115.6
uvicorn==0.32.1
pymongo==4.10.1
pydantic==2.10.3
langchain==0.3.13
langchain-core==0.3.28
langchain-groq==0.2.1
langgraph==0.2.60
python-dotenv==1.0.0
python-multipart==0.0.6
reportlab
chromadb
scikit-learn
numpy
joblib
qrcode[pil]
Pillow

torch
torchvision  
torchxrayvision
grad-cam
opencv-python-headless


